* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
}

section {
  background: #eee;
}

section .list {
  background: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section .list dl > dd {
  font-size: 12px;
}

section .con .content {
  width: 90%;
  height: 120px;
  border-radius: 10px;
  background: white;
  margin: 0 auto;
}

section .con .content > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section .con .content > ul li {
  text-align: center;
}

section .con .content ol {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
