* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
}

section {
    background: #eee;
    .list {
        background: white;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        dl>dd {
            font-size: 12px;
        }
    }
    .con {
        .content {
            width: 90%;
            height: 120px;
            border-radius: 10px;
            background: white;
            margin: 0 auto;
            &>ul {
                display: flex;
                justify-content: space-around;
                align-items: center;
                li {
                    text-align: center;
                }
            }
            ol {
                height: 50px;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
    }
}